<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink(Resources.Resource.AppName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(Resources.Resource.Students, "Index", "Home")</li>
                            <li>@Html.ActionLink(Resources.Resource.Teachers, "Contact", "Home")</li>
                            <li>@Html.ActionLink(Resources.Resource.Admin, "Contact", "Home")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Resource.PersonalAccount <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Мои курсы", "ChangeCulture", "Home")</li>
                                    <li>@Html.ActionLink("Мои курсы", "ChangeCulture", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Настроить", "About", "Home")</li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">@Resources.Resource.Language</li>
                                    <li>@Html.ActionLink(Resources.Resource.Russian, "ChangeCulture", "Home", new { lang = "ru" })</li>
                                    <li>@Html.ActionLink(Resources.Resource.English, "ChangeCulture", "Home", new { lang = "en" })</li>
                                </ul>
                            </li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                        @*<form class="navbar-form navbar-right">
                            <input type="text" class="form-control" placeholder="Search...">
                        </form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
